<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

  <mat-form-field>

    <input matInput type="text" formControlName="name" placeholder="Add a new tiny task" data-cy="task-input"  >
    <mat-icon matSuffix aria-label="Add task"(click)="onSubmit()">send</mat-icon>


  </mat-form-field>

  <mat-form-field>

    <input matInput [matDatepicker]="picker" placeholder="Choose a due date" formControlName="dueDate" style="width: 80%">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>


  </mat-form-field>

</form>
