<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

  <mat-form-field>

    <input matInput type="text" formControlName="name" placeholder="Add a new tiny task" data-cy="task-input"  >
    <input matInput [matDatepicker]="picker" placeholder="Choose a due date" formControlName="dueDate" >


      <mat-datepicker-toggle class="date-picker"  matSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-icon matSuffix aria-label="Add task" (click)="onSubmit()">send</mat-icon>

      <mat-datepicker #picker ></mat-datepicker>



  </mat-form-field>


</form>
